.product-details {
    padding: 20px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .product-details {
      padding: 10px;
    }
  }
  .details{
  
  }
  